/**
 * REGISTER: Rich Text Block.
 */
import edit from './edit';
import save from './save';

import { __ } from '@wordpress/i18n';
import { registerBlockType } from '@wordpress/blocks';

registerBlockType( '{{ namespaceKebabCase }}/rich-text-demo', {
	title: __( 'RichText Block', '{{ textdomain }}' ),
	icon: 'edit',
	category: 'common',
	keywords: [
		__( 'richtext', '{{ textdomain }}' ),
	],
	attributes: {
		content: {
			type: 'array',
			source: 'children',
			selector: 'p',
		},
	},
	edit,
	save,
} );
