<?php
/**
 * Plugin Name:     {{ title }}
    {{# description }}
 * Description:     {{ description }}
    {{/ description }}
 * Version:         {{ version }}
    {{# author }}
 * Author:          {{ author }}
    {{/ author }}
    {{# license }}
 * License:         {{ license }}
    {{/ license }}
    {{# licenseURI }}
 * License URI:     {{{ licenseURI }}}
    {{/ licenseURI }}
 * Text Domain:     {{ textdomain }}
 *
 * @package         {{ fullNamespace }}
 */

namespace {{ fullNamespace }};

// Exit if accessed directly.
defined( 'ABSPATH' ) || exit;

/**
 * Register the block with WordPress.
 *
 * @author {{ namespace }}
 * @since {{ version }}
 */
function register_block() {

	// Define our assets.
	$editor_script   = 'build/index.js';
	$editor_style    = 'build/index.css';
	$frontend_style  = 'build/style-index.css';
	$frontend_script = 'build/frontend.js';

	// Verify we have an editor script.
	if ( ! file_exists( plugin_dir_path( __FILE__ ) . $editor_script ) ) {
		wp_die( esc_html__( 'Whoops! You need to run `npm run build` for the {{ title }} first.', '{{ textdomain }}' ) );
	}

	// Autoload dependencies and version.
	$asset_file = require plugin_dir_path( __FILE__ ) . 'build/index.asset.php';

	// Register editor script.
	wp_register_script(
		'{{ fullNamespaceKebabCase }}-editor-script',
		plugins_url( $editor_script, __FILE__ ),
		$asset_file['dependencies'],
		$asset_file['version'],
		true
	);

	// Register editor style.
	if ( file_exists( plugin_dir_path( __FILE__ ) . $editor_style ) ) {
		wp_register_style(
			'{{ fullNamespaceKebabCase }}-editor-style',
			plugins_url( $editor_style, __FILE__ ),
			[ 'wp-edit-blocks' ],
			filemtime( plugin_dir_path( __FILE__ ) . $editor_style )
		);
	}

	// Register frontend style.
	if ( file_exists( plugin_dir_path( __FILE__ ) . $frontend_style ) ) {
		wp_register_style(
			'{{ fullNamespaceKebabCase }}-style',
			plugins_url( $frontend_style, __FILE__ ),
			[],
			filemtime( plugin_dir_path( __FILE__ ) . $frontend_style )
		);
	}

	// Register block with WordPress.
	register_block_type( '{{ namespaceKebabCase }}/{{ slugKebabCase }}', array(
		'editor_script' => '{{ fullNamespaceKebabCase }}-editor-script',
		'editor_style'  => '{{ fullNamespaceKebabCase }}-editor-style',
		'style'         => '{{ fullNamespaceKebabCase }}-style',
	) );

	// Register frontend script.
	if ( file_exists( plugin_dir_path( __FILE__ ) . $frontend_script ) ) {
		wp_enqueue_script(
			'{{ fullNamespaceKebabCase }}-frontend-script',
			plugins_url( $frontend_script, __FILE__ ),
			$asset_file['dependencies'],
			$asset_file['version'],
			true
		);
	}
}
add_action( 'init', __NAMESPACE__ . '\register_block' );
