# Until both WordPress and WDS support Prettier, block it from reformatting files in /src.
# https://make.wordpress.org/core/2019/12/09/proposed-javascript-coding-standards-revisions-for-prettier-compatibility/
src/
