{
	"name": "{{ fullNamespaceKebabCase }}",
	"title": "{{ title }}",
	"category": "text",
	"icon": "edit",
    "description": "A block starter for WebDevStudios projects.",
	"textdomain": "{{ textdomain }}",
	"supports": {
		"html": false
	},
	"editorScript": "file:./build/index.js",
	"editorStyle": "file:./build/index.css",
	"style": "file:./build/style-index.css"
}
