{
  "name": "{{ namespaceToLower }}/{{ slug }}",
  "description": "A block starter for WebDevStudios projects.",
  "type": "wordpress-plugin",
  "authors": [
    {
      "name": "WebDevStudios",
      "email": "contact@webdevstudios.com"
    }
  ],
  "require": {},
  "require-dev": {
    "webdevstudios/php-coding-standards": "^1.0"
  }
}
