{
  "name": "{{ namespaceToLower }}/{{ slug }}",
  "description": "A Gutenberg starter plugin.",
  "type": "wordpress-plugin",
  "authors": [
    {
      "name": "Mike England",
      "email": "mike.england@webdevstudios.com"
    }
  ],
  "require": {
  },
  "require-dev": {
    "webdevstudios/php-coding-standards": "^1.0"
  }
}
