/**
 * REGISTER: {{ title }}.
 */
import edit from './edit';
import save from './save';

import { __ } from '@wordpress/i18n';
import { registerBlockType } from '@wordpress/blocks';

registerBlockType( '{{ namespaceKebabCase }}/{{ slugKebabCase }}', {
	title: __( '{{ title }}', '{{ textdomain }}' ),
	icon: 'edit',
	category: 'common',
	keywords: [
		__( '{{ namespace }}', '{{ textdomain }}' ),
		__( '{{ slug }}', '{{ textdomain }}' ),
	],
	attributes: {
		content: {
			type: 'array',
			source: 'children',
			selector: 'p',
		},
	},
	edit,
	save,
} );
